[Unit]
Description = Mumble Client  
Requires = systemd-user-sessions.service network.target sound.target
After = multi-user.target

[Service]
User = $USER  
Group = $USER 
Type = simple  
ExecStart = /home/$USER/code-talkiepi/bin/talkiepi -server 192.168.0.217:64738 -username rtr-t30
Restart = always 
RestartSec = 5

[Install]
WantedBy = multi-user.target
