[Unit]
Description = Mumble Client  
Requires = systemd-user-sessions.service network.target sound.target
After = multi-user.target

[Service]
User = rtr
Group = rtr
Type = simple  
ExecStart = /home/rtr/Documents/code-talkiepi/bin/talkiepi -server 192.168.0.216:64738 -username rtr-gcs
Restart = always 
RestartSec = 5

[Install]
WantedBy = multi-user.target
