[Unit]
Description = Restart Mumble Service  
Requires = systemd-user-sessions.service network.target sound.target
After = multi-user.target

[Service]
User = root
ExecStart = /usr/bin/restart_mumble.sh
Restart = always 
RestartSec = 30

[Install]
WantedBy = multi-user.target
